doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv="pragma" content="no-cache")
    meta(http-equiv="cache-control" content="no-cache")
    meta(equiv="expires" content="0")
    meta(name="viewport" content="minimal-ui")
    meta(name="viewport" content="width=device-width,user-scalable=no")
    title= title
    block headers

  body
    block content
